form{
    display: flex;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 460px;
}

input{
    padding: 18px 305px 17px 30px;
    background-color: $super-light-grey;
    border: none;
    border-radius: 5px;
    margin-right: 25px;
    
}
