header{
    height: 100vh;
}

.background--header{
    img{
    position: absolute;
    right: 0px;
    }
    .img-2{
        margin-top: 150px;
        margin-right: 150px;
        width: 35%;

    }
    
    .img-1{
        width: 60%;
    }
}


