.section--content {
    height: 100vh;

    &-1 {
        @extend .section--content;
        display    : flex;
        position   : relative;
        padding-top: 50px;

        .picture{
            transform: translateY(-50%);
            position : absolute;
            top      : 50%;
            left     : 5%;
            img{
                height: 65vh;
            }
        }
    }

    &-2 {
        @extend .section--content;
        position: relative;
        height  : 130vh;
      
        .picture{
            transform: translateY(-50%);
            position : absolute;
            top      : 50%;
            right    : 0px;
            z-index  : 1;
            img{
                width: 100vw;
            }
        }
    }
    &-3{
        @extend.section--content;
        background-color: $light-purple-low-opacity;
        height: 75vh;
        h2{
            text-align: center;
        }
        
    }
}

.background--section {
    position : absolute;
    transform: translateY(-50%);
    top      : 45%;
    left     : 45%;
    img{
        height: 70vh;
    }
   
}

footer{
    height  : 100vh;
    position: relative;
    .picture{
        z-index : 1;
        position: absolute;
        right   : 0px;
        bottom  : 0px;
        z-index : 0;
        img{
            width: 100vw;
        }
    }
}