nav{
    font-family: $poppins ;
    width      : $page-width;
    margin     : $center ;
    display    : flex;
    position   : relative;
    .logo{
        display: flex;
        p{  
            display    : flex;
            font-size  : 40px;
            font-weight: $semi-bold;
            margin-top : 40px;
            align-items: center;
            color      : $grey;
        }
    }

    ul{
        position  : absolute;
        right     : 0px;
        display   : flex;
        list-style: none;
        li{
            a{
                color: $white;
            }
            padding    : 10% 5%;
            font-size  : $Xsmall;
            font-weight: $medium;

        }
    }
}
